@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
}

/* styles.module.css (or your global styles file) */
/* Assuming you have Roboto Serif in weights 400 (regular) and 700 (bold) */
.font-roboto-serif {
  font-family: "Roboto Serif", serif;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
}
